@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:ital@1&display=swap');
:root{
    --primary-color: black;
    --white-color: white;
    --gap: 3rem;
}
*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    background-color: blue;
}
h1,h2,h3,h4,h5{
    font-family: 'Montserrat', sans-serif;
    
}
.header {
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white-color);
}
.header .logo h1{
    font-size: 2.3rem;
}
.header .logo h1 a{
    font-size: 2.3rem;
    text-decoration: none;
    color: var(--primary-color);
    margin-left: 3rem;
}
.header .menu-nav nav ul{
    list-style: none;
    display: flex;
}
.header .menu-nav nav ul a{
    display: block;
    text-decoration: none;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    position: relative;
}
.header .menu-nav nav ul a::after{
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: crimson;
    transition: all 300ms ease-in-out;
}
.header .menu-nav nav ul a:hover:after{
    width: 50%;
    left: 25%;
}
